{% extends "base.html" %}
{% block page_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='flaskpos/css/admin/message/message-index.css') }}">

<p id="title"> <b> Verwaltung der Benachrichtigungen </b></p>
<hr>
{% if current_user.is_owner() %}
    {% if messages %}
    <table class="global">
        <caption> Newstabelle </caption>
        <thead>
            <th> Titel </th>
            <th> Nachricht </th>
            <th> Aktionen </th>
        </thead>
        <tbody>
        {% for message in messages %}
        <tr>
            <td class="col-xs-2"><p> {{ message.title }} </p></td>
            <td class="col-xs-8"><p> {{ message.body }} </p></td>
            <td class="col-xs-2">
                {% if current_user.is_owner() %}
                    <div class="col-md-6">
                        <form action="" method="get">
                            <button  id="msgedit" name="editmsg" title="Editieren" type="submit" class="bts">
                                <i class="fa">&#xf044;</i>
                            </button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form action="" method="post"
                            onSubmit="return confirm('Benachrichtigung löschen?');">
                            <button id="msgdel" name="delmsg" title="Löschen" type="submit" class="bts">
                                <i class="fa">&#xf00d;</i>
                            </button>
                        </form>
                    </div>
                {% endif %}
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    {% else %}
        Keine News vorhanden
    {% endif %}
    {% if notes %}
        <table class="global">
            <caption> Systembenachrichtigung </caption>
            <thead>
                <th> Titel </th>
                <th> Nachricht </th>
                <th> Aktionen </th>
            </thead>
            <tbody>
            {% for note in notes %}
            <tr>
                <td class="col-xs-2"><p> {{ note.title }} </p></td>
                <td class="col-xs-8"><p> {{ note.body }} </p></td>
                <td class="col-xs-2">
                    {% if current_user.is_owner() %}
                        <div class="col-md-6">
                            <form action="" method="get">
                                <button id="editsysmsg" name="sysmsgedit" title="Editieren" type="submit" class="bts">
                                    <i class="fa">&#xf044;</i>
                                </button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form action="" method="post"
                                onSubmit="return confirm('Systembenachrichtigung löschen?');">
                                <button id="delsysmsg" name="sysmsgdel" title="Löschen" type="submit" class="bts">
                                    <i class="fa">&#xf00d;</i>
                                </button>
                            </form>
                        </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}

{% endblock page_content %}