{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Login {% endblock %}
{% block page_content %}
<style>
    p#login-title {
        font-size: 50px;
        background-color: #006666;
        padding-left: 20px;
        color: white;
    }
    label {
        font-size: 24px;
        margin-top: 10px;
    }
    input {
        border: 1px solid grey;
        font-size: 36px;
        background-color: #FFFFFF;
        color: #0F0F0F;
        width: 100%;
        padding-left: 5px;
    }
    #submitform>input {
        font-size: 36px;
    }
    #checkboxform>input {
        color: white;
        width: auto;
        box-shadow: none;
    }

</style>
<p id="login-title"> <b> Anmelden </b></p>
<hr>

<div class="form-group">
    <form method = 'POST'>
         <fieldset>
             {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-sm-6">
                  {{ form.username.label }}<br>{{ form.username }}
                </div>
             </div>
             <div class="row">
                <div class="col-sm-6">
                  {{ form.password.label }}<br>{{ form.password }}
                </div>
             </div>
             <div class="row">
                 <div id="checkboxform" class="col-sm-6">
                    {{ form.remember_me() }}
                    {{ form.remember_me.label }}
                 </div>
             </div>
             <hr>
             <div class="row">
                <div id="submitform" class="col-sm-12">
                    {{ form.submit(class_='btn btn-primary btn-lg') }}
                </div>
             </div>
        </fieldset>
    </form>
</div>
{% endblock page_content %}