{% extends "base.html" %}

{% block page_content %}
<style>
    p#clock-in-title {
        font-size: 50px;
        background-color: #006666;
        padding-left: 20px;
        color: white;
    }
    i {
        color: yellow;
    }
    td, th {
        font-size: 24px;
        padding-left: 10px;
        border: 2px solid;
        vertical-align: center;
    }

    table {
        border: 2px solid;
        width: 100%;

    }
    .fa {
        font-size:32px;
        color: green;
    }
    .btn {
        font-size: 32px;
        width: 100%;
    }
    .actions {
        text-align: center;
        padding: 5px;
    }


</style>
<p id="clock-in-title">
    <b> Mitarbeiter:
        <i> {{ current_user.firstname }} {{ current_user.lastname }}</i>
    </b>
</p>
<hr>
{% if current_user.is_authenticated %}
<table>
    <caption> Stempelzeit </caption>
    <thead>
        <th> Vorname </th>
        <th> Nachname </th>
        <th> Stempelzeit </th>
        <th> Eingeloggt</th>
    </thead>
    <tr>

        <td><p> {{ current_user.firstname }} </p></td>
        <td><p> {{ current_user.lastname }} </p></td>
        <td><p>
            {% if time %}
                {{ time.strftime('%d.%m.%Y, %H:%M') }}
            {% else %}
                -
            {% endif %}
            </p>
        </td>
        <td>{% if logged %}
                {{ logged }}
            {% else %}
                -
            {% endif %}
            </p>
        </td>
    </tr>
</table>
<hr>

<div class="row">
    <div class="col-md-12">
            {% if current_user.is_clocked %}
                <form id="infos" method="post" onSubmit="return confirm
                    ('Wirklich ausstempeln?');">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input title="Ausstempeln"
                           class="btn btn-danger btn-lg" type="submit" name="clockin" value="Ausstempeln" />
                </form>
            {% else %}
                <form method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input title="Einstempeln"
                           class="btn btn-success btn-lg" type="submit" name="clockin" value="Einstempeln" />
                </form>
    {% endif %}
    </div>
</div>
{% else %}
    Bitte einloggen
{% endif %}

{% endblock page_content %}