{% extends "base.html" %}
{% block page_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='flaskpos/css/clock/clockin.css') }}">

<p id="title">
    <b> Mitarbeiter:
        <i id="cursive-yellow"> {{ current_user.firstname }} {{ current_user.lastname }}</i>
    </b>
</p>
<hr>
{% if current_user.is_authenticated %}
<table class="global">
    <caption> Stempelzeit </caption>
    <thead>
        <th> Vorname </th>
        <th> Nachname </th>
        <th> Stempelzeit </th>
        <th> Eingeloggt</th>
    </thead>
    <tr>

        <td class="col-xs-3"><p> {{ current_user.firstname }} </p></td>
        <td class="col-xs-3"><p> {{ current_user.lastname }} </p></td>
        <td class="col-xs-3"><p>
            {% if time %}
                {{ time.strftime('%d.%m.%Y, %H:%M') }}
            {% else %}
                -
            {% endif %}
            </p>
        </td>
        <td class="col-xs-3">{% if logged %}
                {{ logged }}
            {% else %}
               <p>-</p>
            {% endif %}
        </td>
    </tr>
</table>
<hr>

<div class="row">
    <div class="col-md-12">
            {% if current_user.is_clocked %}
                <form id="infos" method="post" onSubmit="return confirm
                    ('Wirklich ausstempeln?');">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input title="Ausstempeln"
                           class="btn btn-danger btn-lg" type="submit" name="clockin" value="Ausstempeln" />
                </form>
            {% else %}
                <form method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input title="Einstempeln"
                           class="btn btn-success btn-lg" type="submit" name="clockin" value="Einstempeln" />
                </form>
    {% endif %}
    </div>
</div>
{% else %}
    Bitte einloggen
{% endif %}

{% endblock page_content %}