{% extends "base.html" %}
{% block page_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='flaskpos/css/admin/control/control-index.css') }}">

<p id="title"> <b> Verwaltung der Stempelzeiten</b></p>
<hr>
<div>
    {% if today %}
    <table class="global">
        <caption> Eingestempelte Benutzer </caption>
        <th> Identifikation </th>
        <th> Vorname </th>
        <th> Nachname </th>
        <th> Eingestempelt </th>
        <th> Vergangene Zeit </th>
        <th> Aktionen </th>
        {% for elem in today %}

        <tr align="center">
            <td class="col-xs-2"><p> {{ elem[0].uuid }} </p></td>
            <td class="col-xs-2"><p> {{ elem[0].firstname }} </p></td>
            <td class="col-xs-2"><p> {{ elem[0].lastname }} </p></td>
            <td class="col-xs-2"><p> {{ elem[1].strftime('%d.%m.%Y, %H:%M') }} </p></td>
            <td class="col-xs-3"><p> {{ elem[2] }} </p></td>
            <td class="col-xs-1">
                {% if current_user.is_manager() %}
                 <div class="col-md-12">
                    <form action="{{ url_for('admin.clock_out', name=elem[0].username) }}" method="post"
                        onSubmit="return confirm
                        ('Mitarbeiter {{ elem[0].firstname }} {{ elem[0].lastname }} ausstempeln?');">
                        <button title="Ausstempeln" type="submit" id="clockout" class="bts">
                            <i class="fa">&#xf273;</i>
                        </button>
                    </form>
                </div>
                {% endif %}
            </td>
        </tr>

        {% endfor %}
    </table>
    {% else %}
    <h3> Kein Benutzer ist eingestempelt </h3>
    {% endif %}
</div>
<hr>
{% if current_user.is_owner() %}
    {% if current_date %}
        <div class="row">
            <div class="col-sm-12">
                <form action="{{ url_for('admin.control_with_year_and_month', year=current_date[0]
                   , month=current_date[1]) }}" method="get">
                    <button id="current" title="Aktuellen Monat anzeigen" type="submit" class="btn btn-primary btn-lg">
                        Stempelzeiten des aktuellen Monats
                    </button>
                </form>
               <hr>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <table class="global">
                <caption> Stempelzeiten </caption>
                <thead>
                    <th> Jahr </th>
                    <th> Monate </th>
                </thead>
                <tbody>
                {% for year in years %}
                    <tr>
                        <td class="col-xs-1"> {{ year[0] }} </td>
                        <td  class="col-xs-11"id="month">
                            {% if year %}
                                {% for month in year[1] %}
                                    <div class="col-sm-1">
                                        <form action
                                          ="{{ url_for('admin.control_with_year_and_month',
                                          year=year[0], month=month) }}"
                                          method="get">
                                            <button title="Monat auswählen" type="submit"
                                                    class="btn btn-primary btn-sm">
                                                {{ month }}
                                            </button>
                                        </form>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

{% endblock page_content %}