{% extends "base.html" %}
{% block page_content %}

<style>
table, th, td {
  border: 1px solid black;
}

table {
    width: 100%;
}

th, td {
  padding: 10px;
}

td#month {
    width: 70%;
}
</style>

<h1>Arbeitszeiten Verwalten</h1>
<hr style="color:black;width:50%;border:solid;text-align:left;margin-left:0">
<hr>
<div class="row">
    <div class="col-sm-6">
        <h3> Aktuelles Datum: <b>{{ moment().format('DD.MM.YYYY') }}</b> </h3>
    </div>
    {% if current_date %}
    <div class="col-sm-6 text-right">
        <a data-toggle="tooltip" title="Aktuellen Monat anzeigen" role="button" class="btn btn-success btn-lg"
           href="{{ url_for('admin.control_with_year_and_month', year=current_date[0]
           , month=current_date[1]) }}"> Aktueller Monat </a>
    </div>
    {% endif %}
</div>
<hr>
<div class="current">
    {% if today %}
    <h3> Alle Benutzer, die gerade eingestempelt sind:</h3>
    <table border="1" width="100%" >
        <th> Identifikation </th>
        <th> Vorname </th>
        <th> Nachname </th>
        <th> Eingestempelt </th>
        <th> Vergangene Zeit </th>
        <th> Aktionen </th>
        {% for elem in today %}

                        <tr align="center">
                            <td><p> {{ elem[0].uuid }} </p></td>
                            <td><p> {{ elem[0].firstname }} </p></td>
                            <td><p> {{ elem[0].lastname }} </p></td>
                            <td><p> {{ elem[1] }} </p></td>
                            <td><p> {{ elem[2] }} </p></td>
                            <td>
                                {% if current_user.is_manager() %}
                                        <a href="{{ url_for('admin.clock_out', name=elem[0].username ) }}">
                                            <i title="Ausstempeln" class="fa" style="font-size:24px;color=black;">&#xf044;</i>
                                        </a>
                                {% endif %}
                            </td>
                        </tr>

        {% endfor %}
    </table>
    {% else %}
    <h3>Keine Nutzer, die im Augenblick eingestempelt haben</h3>
    {% endif %}
</div>
<hr style="color:black;width:50%;border:solid;text-align:left;margin-left:0">
<hr>
<div class="row">
    <div class="col-sm-12">
        <table >
            <caption> Stempelzeiten </caption>
            <thead>
                <th> Jahr </th>
                <th> Monate </th>
            </thead>
            <tbody>
            {% for year in years %}
                <tr>
                    <td > {{ year[0] }} </td>
                    <td id="month">
                        {% if year %}
                            {% for month in year[1] %}
                                    <a  role="button" class="btn btn-info btn-sm" href=
                                        "{{ url_for('admin.control_with_year_and_month', year=year[0], month=month) }} ">
                                        {{ month }} </a>

                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock page_content %}