{% extends "base.html" %}
{% block page_content %}

<style>
    p#title {
        font-size: 50px;
        background-color: #006666;
        padding-left: 20px;
        color: white;
    }
    table, th, td {
        border: 2px solid black;
    }
    table {
        width: 100%;
    }
    .date-info {
        height: 20%;
        display:block;
        font-size: 50px;
        color: #006666;
    }
    .time-info {
        height: 20%;
        display:block;
        font-size: 50px;
        color: #006666;
        text-align:right;
    }
    .date-info>i, .time-info>i  {
        color: black;
    }
    caption {
        font-size: 24px;
    }
    td, th {
        font-size: 24px;
        padding-left: 10px;
    }

    td#month {
        width: 70%;
        padding: 5px;
    }
    .fa {
        font-size:32px;
        color: white;
    }
    .bts {
      width:48px;
      height: 48px;
      background-color: red;
      border: 1px solid #0000FF;
      color: white;
      cursor: pointer;
      padding:6px;
      margin: 5px;
    }

    #current {
        font-size: 32px;
        width: 100%;
    }
    .bts:hover {
      background-color: RoyalBlue;
      color: white;
    }
    .bts#view {
        background-color: green;
    }
</style>

<p id="title"> <b> Verwaltung der Stempelzeiten</b></p>

<div class="row">
    <div class="col-sm-6">
        <p class="date-info">Datum: <i>{{ moment().format('DD.MM.YYYY') }}</i> </p>
    </div>
    <div class="col-sm-6">
        <p class="time-info">Uhrzeit: <i>{{ moment().format('HH:mm') }}</i> </p>
    </div>
</div>
{% if current_user.is_owner() %}
    {% if current_date %}
        <div class="row">
            <div class="col-sm-12">
                <form action="{{ url_for('admin.control_with_year_and_month', year=current_date[0]
                   , month=current_date[1]) }}" method="get">
                    <button id="current" title="Aktuellen Monat anzeigen" type="submit" class="btn btn-primary btn-lg">
                        Stempelzeiten des aktuellen Monats
                    </button>
                </form>
               <hr>
            </div>
        </div>
    {% endif %}
{% endif %}

<div class="current">
    {% if today %}
    <table>
        <caption> Eingestempelte Benutzer </caption>
        <th> Identifikation </th>
        <th> Vorname </th>
        <th> Nachname </th>
        <th> Eingestempelt </th>
        <th> Vergangene Zeit </th>
        <th> Aktionen </th>
        {% for elem in today %}

                        <tr align="center">
                            <td><p> {{ elem[0].uuid }} </p></td>
                            <td><p> {{ elem[0].firstname }} </p></td>
                            <td><p> {{ elem[0].lastname }} </p></td>
                            <td><p> {{ elem[1].strftime('%d.%m.%Y, %H:%M') }} </p></td>
                            <td><p> {{ elem[2] }} </p></td>
                            <td>
                                {% if current_user.is_manager() %}
                                 <div class="col-md-4">
                                    <form action="{{ url_for('admin.clock_out', name=elem[0].username) }}" method="post"
                                        onSubmit="return confirm
                                        ('Mitarbeiter {{ elem[0].firstname }} {{ elem[0].lastname }} ausstempeln?');">
                                        <button title="Ausstempeln" type="submit" id="clockout" class="bts">
                                            <i class="fa">&#xf273;</i>
                                        </button>
                                    </form>
                                </div>
                                {% endif %}
                            </td>
                        </tr>

        {% endfor %}
    </table>
    {% else %}
    <h3>Keine Nutzer, die im Augenblick eingestempelt haben</h3>
    {% endif %}
</div>
{% if current_user.is_owner() %}
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <table >
                <caption> Stempelzeiten </caption>
                <thead>
                    <th> Jahr </th>
                    <th> Monate </th>
                </thead>
                <tbody>
                {% for year in years %}
                    <tr>
                        <td > {{ year[0] }} </td>
                        <td id="month">
                            {% if year %}
                                {% for month in year[1] %}
                                    <form action
                                      ="{{ url_for('admin.control_with_year_and_month', year=year[0], month=month) }}"
                                      method="get">
                                        <button title="Monat auswählen" type="submit" class="btn btn-primary btn-sm">
                                            {{ month }}
                                        </button>
                                    </form>
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
{% endblock page_content %}