{% extends "base.html" %}
{% block page_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='flaskpos/css/admin/user/parts/user-view.css') }}">

<p id="title"> <b> Benutzer <i>{{ user.username }} </i> ansehen </b></p>
<hr>

<table class="global">
     <caption> Benutzer {{ user.username }}</caption>
    <thead>
        <th> Vorname </th>
        <th> Nachname </th>
        <th> Email </th>
        <th> Identifikation </th>
    </thead>
    <tr>
        <td class="col-xs-3"><p> {{ user.firstname }}</p></td>
        <td class="col-xs-3"><p> {{ user.lastname }}</p></td>
        <td class="col-xs-3"><p> {{ user.email }} </p></td>
        <td class="col-xs-3"><p> {{ user.uuid }}</p></td>
    </tr>
</table>
<hr>
<table class="global" >
    <thead>
        <th> Aktiviert </th>
        <th> Rolle </th>
        <th> Erstellt am  </th>
        <th> Zuletzt geändert </th>
    </thead>
    <tr>
        <td class="col-xs-3"><p> {% if user.is_active %} Ja {% else %} Nein {% endif %}</p></td>
        <td class="col-xs-3"><p> {{ user.role.name }}</p></td>
        <td class="col-xs-3"><p> {{ user.created_at.strftime('%d.%m.%Y, %H:%M:%S') }} </p></td>
        <td class="col-xs-3"><p> {{ user.modified_at.strftime('%d.%m.%Y, %H:%M:%S') }}</p></td>
    </tr>
</table>
<hr>
<a role="button" class="btn btn-success" href="{{ url_for('admin.users') }}">
    Zurück zur Übersicht
</a>

{% endblock page_content %}