{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}

<div class="container">
    {% for message in form.email.errors %}
        <div class="alert alert-email alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>{{ message }}</h4>
        </div>
    {% endfor %}

    {% for message in form.uuid.errors %}
        <div class="alert alert-userid alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>{{ message }}</h4>
        </div>
    {% endfor %}
</div>

<div class="col-md-12">
    <h2><b>{{ username }}</b> editieren</h2>



    <!--<form action="" method = 'POST'>
         <fieldset>
               {{ form.hidden_tag() }}
               {{ form.email.label }}<br>{{ form.email }}<br>
               <br>
               {{ form.firstname.label }}<br>{{ form.firstname }}<br>
               {{ form.lastname.label }}<br>{{ form.lastname }}<br>
               <br>
               {{ form.uuid.label }}<br>{{ form.uuid }}<br>
               <br>
               {{ form.role.label }}<br>{{ form.role }}<br>
               <hr>
               {{ form.submit }}
        </fieldset>
    </form>
</div>-->

<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>

{% endblock page_content %}