{% extends "base.html" %}
{% block page_content %}

<h1 style="display: block; background-color: 9999CC;">
    Kontakt aufnehmen
    <br>
</h1>
<hr style="border: 2px solid; width:100%;">
<form action="mailto:flaskpos@test.com" method="get" enctype="text/plain">
      <div>
        <label for="name">Name:
          <input type="text" name="name" id="name" />
        </label>
      </div>
      <div>
        <label for="email">Email:
          <input type="text" name="email" id="email" />
        </label>
      </div>
      <div>
        <label>Nachricht:</label>
        <br />
        <textarea name="comments" rows="12" cols="35"> Hallo Flask-Pos Team, </textarea>
      </div>
      <div>
        <input type="submit" name="submit" value="Abschicken" />
        <input type="reset" name="reset" value="Zurücksetzen" />
      </div>
    </form>

{% endblock page_content %}