{% extends "base.html" %}
{% block page_content %}
<style>
    p#contact-title {
        font-size: 50px;
        background-color: #5F9EA0;
        padding-left: 20px;
    }
</style>
<p id="contact-title"> <b> Nehmen Sie mit uns Kontakt auf </b></p>
<hr>
<form action="mailto:flaskpos@test.com" method="get" enctype="text/plain">
      <div>
        <label for="name">Name:
          <input type="text" name="name" id="name" />
        </label>
      </div>
      <div>
        <label for="email">Email:
          <input type="text" name="email" id="email" />
        </label>
      </div>
      <div>
        <label>Nachricht:</label>
        <br />
        <textarea name="comments" rows="12" cols="35"> Hallo Flask-Pos Team, </textarea>
      </div>
      <div>
        <input type="submit" name="submit" value="Abschicken" />
        <input type="reset" name="reset" value="Zurücksetzen" />
      </div>
    </form>

{% endblock page_content %}