{% extends "base.html" %}
{% block page_content %}

<style>
    .user {
        font-size: 30px;
        margin-left: 10px;
        background-color:
    }

    .news {
        height: 10%;
        display:block;
        background-color: #009999;
        font-size: 30px;
        padding: auto;
        margin: left right;
    }

    p#newstitle {
        background-color: #006666;
        color: white;
    }
    button#news {
        padding: auto;
        font-size: 40px;
        color: #FFFFFF;
    }

    p {
        padding-left: 20px;
        font-size: 50px;
    }
</style>

<p id="newstitle"> <b> Flask-Pos News </b></p>
<hr>
{% if newsletter %}
    {% for news in newsletter %}



            <div class="news alert">
                <button type="button" id="news" class="close" data-dismiss="alert">&times</button>
                <span style="margin: auto;">
                    {% autoescape false %}
                        {{ news }}
                    {% endautoescape %}
                </span>
            </div>

    {% endfor %}
{% else %}
    <div class="news alert alert-{{ category }}">
            Leider keine Nachrichten
    </div>
{% endif %}


{% endblock page_content %}