{% extends "base.html" %}
{% block page_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='flaskpos/css/admin/device/device-index.css') }}">

<p id="title"> <b> Verwaltung der Geräte </b></p>
<hr>
{% if devices %}
<table class="global">
    <caption> Gerätetabelle </caption>
    <th> Bezeichnung </th>
    <th> Identifikation </th>
    <th> Seriennummer </th>
    <th> Aktionen </th>
    {% for device in devices %}
    <tr>
        <td class="col-xs-3"><p> {{ device.label }} </p></td>
        <td class="col-xs-3"><p> {{ device.device_uuid }} </p></td>
        <td class="col-xs-3"><p> {{ device.serial_number }} </p></td>
        <td class="col-xs-3">
            <div class="col-md-4">
                <form action="{{ url_for('admin.get_device', id=device.device_id) }}" method="get">
                    <button title="Ansehen" type="submit" id="view" class="bts">
                        <i class="fa">&#xf06e;</i>
                    </button>
                </form>
            </div>
            {% if current_user.is_owner() %}
                    <div class="col-md-4">
                        <form action="{{ url_for('admin.edit_device', id=device.device_id) }}" method="get">
                            <button  title="Editieren" type="submit" id="edit" class="bts">
                                <i class="fa">&#xf044;</i>
                            </button>
                        </form>
                    </div>

                    <div class="col-md-4">
                        <form action="{{ url_for('admin.delete_device', id=device.device_id) }}" method="post"
                            onSubmit="return confirm('Gerät {{ device.device_uuid }} löschen?');">
                            <button title="Löschen" type="submit" id="delete" class="bts">
                                <i class="fa">&#xf00d;</i>
                            </button>
                        </form>
                    </div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    Keine Geräte vorhanden
{% endif %}

{% if current_user.is_owner() %}
    <hr>
   <form action="{{ url_for('admin.add_device') }}" method="get">
        <button title="Gerät hinzufügen" type="submit" class="btn btn-primary btn-lg">Gerät hinzufügen
        </button>
    </form>
{% endif %}

{% endblock page_content %}