{% extends "base.html" %}
{% block page_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='flaskpos/css/admin/admin.css') }}">

<p id="title"> <b> Verwaltung </b></p>
<hr>
<hr>
<div class="row">
    <div class="col-md-6">
       <form action="{{ url_for('admin.users') }}" method="get">
            <button title="Benutzer verwalten" type="submit" class="btn btn-primary btn-lg"> Benutzer verwalten
            </button>
        </form>
    </div>
<div class="col-md-6">
        <form action="{{ url_for('admin.devices') }}" method="get">
            <button title="Geräte verwalten" type="submit" class="btn btn-primary btn-lg"> Geräte verwalten
            </button>
        </form>
    </div>
</div>
<div class="row low">
    <div class="col-md-6">
       <form action="{{ url_for('admin.control') }}" method="get">
            <button title="Zeiten verwalten" type="submit" class="btn btn-primary btn-lg"> Zeiten Verwalten
            </button>
        </form>
    </div>
</div>
<div class="row low">
     <div class="col-md-6">
       <form action="{{ url_for('admin.message_index') }}" method="get">
            <button title="Benachrichtigungen" type="submit" class="btn btn-danger btn-lg"> Benachrichtigungen
            <br>Noch nicht implementiert
            </button>
        </form>
    </div>
    <div class="col-md-6">
       <form action="" method="get">
            <button title="Kassen verwalten" type="submit" class="btn btn-danger btn-lg"> Kassen Verwalten
                <br>Noch nicht implementiert
            </button>
        </form>
    </div>
</div>


{% endblock page_content %}