{% extends "base.html" %}
{% block page_content %}

<style>
    p#dashboard-title {
        font-size: 50px;
        background-color: #006666;
        padding-left: 20px;
        vertical-align: center;
        color: white;
    }
    .btn {
        width: 100%;
        font-size:32px;
    }
    .low {
        margin-top: 1%;
    }
</style>
<p id="dashboard-title"> <b> Dashboard </b></p>
<hr>
<div class="row">
    <div class="col-md-6">
       <form action="{{ url_for('admin.users') }}" method="get">
            <button title="Benutzer verwalten" type="submit" class="btn btn-primary btn-lg"> Benutzer verwalten
            </button>
        </form>
    </div>
<div class="col-md-6">
        <form action="{{ url_for('admin.devices') }}" method="get">
            <button title="Geräte verwalten" type="submit" class="btn btn-primary btn-lg"> Geräte verwalten
            </button>
        </form>
    </div>
</div>
<div class="row low">
    <div class="col-md-6">
       <form action="{{ url_for('admin.control') }}" method="get">
            <button title="Zeiten verwalten" type="submit" class="btn btn-primary btn-lg"> Zeiten Verwalten
            </button>
        </form>
    </div>
    <div class="col-md-6">
       <form action="" method="get">
            <button title="Kassen verwalten" type="submit" class="btn btn-danger btn-lg"> Kassen Verwalten
                <br>Noch nicht implementiert
            </button>
        </form>
    </div>
</div>


{% endblock page_content %}