.navbar-brand {
    font-size: 32px;
}
.nav-item {
    font-size: 24px;
}
.navbar-brand, .nav-item {
    color: white !important;
}
.navbar-inverse {
    background-color: #004444;
    border-color: #004444;
}
#sysdiv {
    visibility: hidden;
    display: none;
    animation: fadeIn ease 3s infinite;
    margin: left right;
}
#sysmessage {
    width: 100%;
    height: 10%;
    font-size: 48px;
    background-color: #FE2E2E;
    color: white;
    text-align: center;
    display:block;
}
 @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.close {
    color: white;
    opacity: 1;
    padding: auto;
    font-size: 40px;
}
#time-element {
    display: block;
    widht: 25em;
    font-size: 50px;
    color: #006666;
}
caption {
    font-size: 24px;
}