/* *** Input Element *** */
input {
    font-size: 2em;
    background-color: var(--medium-color);
    color: var(--light-color);
    width: 100%;
    padding-left: .4em;
}
/* *** Checkbox Element Input *** */
#checkboxform>input {
    width: auto;
    box-shadow: none;
}