{% extends "base.html" %}
{% block page_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='flaskpos/css/pos/parts/pos-bill.css') }}">

<p id="title">
    <b> Kasse  {{ billed.control_device_id }} von
    <i id="cursive-yellow">{{ billed.user.firstname }} {{ billed.user.lastname }}</i>
    abrechnen
    </b>
</p>
<hr>
<table class="bill">
    <caption> Abrechnungsdaten </caption>
    <thead>
        <th> Gerät </th>
        <th> Geöffnet um </th>
        <th> Voraufgefüllter Betrag</th>

    </thead>
    <tbody>
        <tr>
            <td class="col-xs-4"> {{ billed.device.label }} </td>
            <td class="col-xs-4"> {{ billed.created_at.strftime('%d.%m.%Y, %H:%M') }} </td>
            <td class="col-xs-4" id="number"> {{ billed.prefilled_amount / 100 }} € </td>
        </tr>
    </tbody>
</table>
<hr>
<div class="row">
    <div class="col-md-12">
        <label> Betrag in der Kasse </label><br/>
        <input id="money" type="number" step=".1" min="{{ billed.prefilled_amount / 100 }}"
               value="{{ billed.prefilled_amount / 100 }}" onchange="setCurrent(this.value)">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-2">
        <button title="um 100€ verringern" onclick="addMoney(-100.00)" type="submit" class="btn btn-info"> - 100€ </button>
    </div>
    <div class="col-sm-2">
        <button title="um 10€ verringern" onclick="addMoney(-10.00)" type="submit" class="btn btn-info"> - 10€ </button>
    </div>
    <div class="col-sm-2">
        <button title="um 1€ verringern" onclick="addMoney(-1.00)" type="submit" class="btn btn-info"> - 1€ </button>
    </div>
    <div class="col-sm-2">
        <button title="um 1€ erhöhen" onclick="addMoney(1.00)"  type="submit" class="btn btn-info"> + 1€ </button>
    </div>
     <div class="col-sm-2">
        <button title="um 10€ erhöhen" onclick="addMoney(10.00)" type="submit" class="btn btn-info"> + 10€ </button>
    </div>
    <div class="col-sm-2">
        <button title="um 100€ erhöhen" onclick="addMoney(100.00)"  type="submit" class="btn btn-info"> + 100€ </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <button title="um 0.5€ verringern" onclick="addMoney(-.50)" type="submit" class="btn btn-info"> - 0.5€ </button>
    </div>
    <div class="col-sm-2">
        <button title="um 0.2€ verringern" onclick="addMoney(-.20)" type="submit" class="btn btn-info"> - 0.2€ </button>
    </div>
    <div class="col-sm-2">
        <button title="um 0.1€ verringern" onclick="addMoney(-.10)" type="submit" class="btn btn-info"> - 0.1€ </button>
    </div>
     <div class="col-sm-2">
        <button title="um 0.1€ erhöhen" onclick="addMoney(.10)" type="submit" class="btn btn-info"> + 0.1€ </button>
    </div>
    <div class="col-sm-2">
        <button title="um 0.2€ erhöhen" onclick="addMoney(.20)"  type="submit" class="btn btn-info"> + 0.2€ </button>
    </div>
     <div class="col-sm-2">
        <button title="um 0.5€ erhöhen" onclick="addMoney(.50)" type="submit" class="btn btn-info"> + 0.5€ </button>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-sm-12">
        <form action="{{ url_for('pos.bill', pos_id=billed.control_device_id) }}"
            onSubmit="return confirm('Kasse wirklich mit ' + amount + ' € abrechnen?' );" method="post">
            <button id="abrechnen" name="abrechnen" title="Kasse abrechnen" type="submit"
                    class="btn btn-success btn-lg">
                    Kasse abrechnen
            </button>
        </form>
    </div>
</div>
<script>
    var m = 100;
    var prefilled = {{ billed.prefilled_amount }} / m;
    var amount = parseInt(prefilled);
</script>
<script src="{{ url_for('static', filename='flaskpos/js/pos/parts/pos-bill.js') }}"></script>

{% endblock %}