{% extends "base.html" %}
{% block page_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='flaskpos/css/admin/control/parts/control-detail-view.css') }}">

<p id="title"> <b> Zeitkorrektur: <i> {{ user.firstname }} {{ user.lastname }}</i></b></p>
<div class="difference">
        <div class="row">
            <div id="align-left" class="col-sm-6">
                <b>Eingestempelte Zeit:</b>
            </div>
            <div id="align-right" class="col-sm-6">
                <b><i> {{ difference }}</i></b>
            </div>
        </div>
</div>
<hr>
<form method = 'POST'>
     <fieldset>
         {{ form.hidden_tag() }}
         <div class="difference"> Eingestempelt </div>
         <div class="row">
             <div class="col-sm-5">{{ form.date_start_day.label }}</div>
             <div class="col-sm-5">{{ form.time_start_hour.label }}</div>
         </div>
         <div class="row">
             <div class="col-sm-1 date">{{ form.date_start_day() }}</div>
             <div class="col-sm-1 date">{{ form.date_start_month() }}</div>
             <div class="col-sm-1 date">{{ form.date_start_year() }}</div>
             <div class="col-sm-2"></div>
             <div class="col-sm-1 date">{{ form.time_start_hour() }}</div>
             <div class="col-sm-1 date">{{ form.time_start_minute() }}</div>
             <div class="col-sm-1 date">{{ form.time_start_second() }}</div>
         </div>
         <hr>
         <div class="difference"> Ausgestempelt </div>
        <div class="row">
             <div class="col-sm-5">{{ form.date_end_day.label }}</div>
             <div class="col-sm-6">{{ form.time_end_hour.label }}</div>
         </div>
         <div class="row">
             <div class="col-sm-1 date">{{ form.date_end_day() }}</div>
             <div class="col-sm-1 date">{{ form.date_end_month() }}</div>
             <div class="col-sm-1 date">{{ form.date_end_year() }}</div>
             <div class="col-sm-2"></div>
             <div class="col-sm-1 date">{{ form.time_end_hour() }}</div>
             <div class="col-sm-1 date">{{ form.time_end_minute() }}</div>
             <div class="col-sm-1 date">{{ form.time_end_second() }}</div>
         </div>

         <div class="difference"> Grund für die Änderung:</div>
         <div class="row">
             <div class="col-lg-12" >{{ form.reason() }}</div>
         </div>
         <div id="submitform">
            {{ form.submit() }}
         </div>
    </fieldset>
</form>

{% endblock page_content %}