{% extends "base.html" %}
{% block page_content %}
<style>
    p#title {
        font-size: 50px;
        background-color: #006666;
        padding-left: 20px;
        color: white;
    }
    i {
        color: yellow;
    }
     caption {
        font-size: 24px;
    }
    table {
        border: 2px solid;
        width: 100%;
    }
    tr, td, th {
        font-size: 24px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 2px solid;
        text-align: left;
    }
    .bts {
      width:48px;
      height: 48px;
      background-color: orange;
      border: 1px solid #0000FF;
      color: white;
      cursor: pointer;
      padding:6px;
    }
    .bts:hover {
      background-color: RoyalBlue;
      color: white;
    }

    .fa {
        color: white;
    }

</style>
<p id="title"> <b> Stempelzeiten: <i>{{ month }} / {{ year }} </i></b></p>
<hr>

    {% if current %}
        <table>
            <caption> Stempelzeiten-Tabelle </caption>
            <thead>
                    <th scope="col"> Vorname </th>
                    <th scope="col"> Nachname </th>
                    <th scope="col"> Von </th>
                    <th scope="col"> Bis </th>
                    <th scope="col"> Zeit </th>
                    <th scope="col"> Aktionen </th>

            </thead>
            <tbody>
                {% for elem in current %}
                <tr>
                    <td><p> {{ elem[0].firstname }} </p></td>
                    <td><p> {{ elem[0].lastname }} </p></td>
                    <td><p> {{ elem[1].time_start.strftime('%d.%m.%Y, %H:%M') }} </p></td>
                    <td><p> {{ elem[1].time_end.strftime('%d.%m.%Y, %H:%M') }} </p></td>
                    <td><p> {{ elem[2] }} </p></td>
                    <td>
                        {% if current_user.is_owner() %}
                        <div class="col-md-4">
                            <form action="{{ url_for( 'admin.view_control_details',
                                year=year, name=elem[0].username, cid=elem[1].control_id) }}" method="get">
                                <button  title="Editieren" type="submit" class="bts">
                                    <i class="fa">&#xf044;</i>
                                </button>
                            </form>
                        </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        </ul>
    {% else %}
        Keine Stempelzeiten erfasst
    {% endif %}
{% endblock page_content %}