{% extends "base.html" %}
{% block page_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='flaskpos/css/admin/device/parts/device-view.css') }}">

<p id="title"> <b> Gerät <i>{{ device.device_uuid }} </i> ansehen</b></p>
<hr>

<table class="global" >
    <caption> Gerät {{ device.device_uuid }}</caption>
    <thead>
        <th> Bezeichnung </th>
        <th> Seriennummer </th>
        <th> Hersteller </th>
        <th> Eingekauft bei </th>
    </thead>
    <tr>
        <td class="col-xs-3"><p> {{ device.label }}</p></td>
        <td class="col-xs-3"><p> {{ device.serial_number }}</p></td>
        <td class="col-xs-3"><p> {{ device.manufacturer }} </p></td>
        <td class="col-xs-3"><p> {{ device.ordered_from }}</p></td>
    </tr>
</table>
<hr>
<table class="global" >
    <thead>
        <th> Erstellt am  </th>
        <th> Zuletzt geändert </th>
        <th> Tüv-Ablaufdatum </th>
    </thead>
    <tr>
        <td class="col-xs-4"><p> {{ device.created_at.strftime('%d.%m.%Y, %H:%M:%S') }} </p></td>
        <td class="col-xs-4"><p> {{ device.modified_at.strftime('%d.%m.%Y, %H:%M:%S') }}</p></td>
        <td class="col-xs-4"><p> {{ device.tuev_expired_date.strftime('%d.%m.%Y') }}</p></td>
    </tr>
</table>
<hr>
<a role="button" class="btn btn-success" href="{{ url_for('admin.devices') }}"> Zurück zur Übersicht </a>

{% endblock page_content %}