{% extends "base.html" %}
{% block page_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='flaskpos/css/pos/pos-index.css') }}">

<p id="title"> <b> Kasse </b></p>
<hr>
{% if checkouts %}
<table class="global">
    <caption> Kassen zum Abrechnen </caption>
    <thead>
        <th> Gerät </th>
        <th> Vorname </th>
        <th> Nachname </th>
        <th> Geöffnet um </th>
        <th> Aktionen </th>
    </thead>
    {% for checkout in checkouts %}
    <tr>
        <td class="col-xs-2"><p> {{ checkout.device.label }} </p></td>
        <td class="col-xs-2"><p> {{ checkout.user.firstname }} </p></td>
        <td class="col-xs-2"><p> {{ checkout.user.lastname }} </p></td>
        <td class="col-xs-3"><p> {{ checkout.created_at.strftime('%d.%m.%Y, %H:%M') }} </p></td>
        <td class="col-xs-1">
            {% if current_user.user_id == checkout.user.userid or current_user.is_manager() %}
                 <div class="col-md-12">
                    <form action="{{ url_for('pos.bill', pos_id=checkout.control_device_id) }}" method="get">
                        <button title="Kasse abrechnen" type="submit" id="bill" class="bts">
                            <i class="fa">&#xf153;</i>
                        </button>
                    </form>
                </div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <h3> Keine offenen Kassen vorhanden </h3>
{% endif %}
<hr>
<div class="row">
    <div class="col-md-12">
        <form action="" method="get">
            <button title="Ansehen" type="submit" class="btn btn-danger btn-lg"> Neue Kasse Anmelden
                <br><i> Noch nicht implementiert </i> </button>
        </form>
    </div>
</div>

{% endblock page_content %}