{% extends "base.html" %}
{% block page_content %}

<h1>Benutzer Verwalten</h1>
{% if users %}
<table border="1" width="100%" >
    <caption> Benutzer </caption>
    <thead>
        <th> Benutzername </th>
        <th> Rolle </th>
        <th> Email </th>
        <th> Vorname </th>
        <th> Nachname </th>
        <th> Aktionen </th>
    </thead>
    {% for user in users %}
    <tr align="center">
        {% if current_user.role.permissions >= user.role.permissions %}
            <td><p> {{ user.username }} </p></td>
            <td><p> {{ user.role.name }} </p></td>
            <td><p> {{ user.email }} </p></td>
            <td><p> {{ user.firstname }} </p></td>
            <td><p> {{ user.lastname }} </p></td>
            <td>
                <a href="{{ url_for('admin.get_user', name=user.username) }}">
                    <i title="Ansehen" class="fa" style="font-size:24px;color=black;">&#xf06e;</i>
                </a>
                {% if current_user.is_owner() %}
                    {% if current_user.role.permissions >= user.role.permissions %}
                        <a href="{{ url_for('admin.edit_user', name=user.username) }}">
                            <i title="Editieren" class="fa" style="font-size:24px;color=black;">&#xf044;</i>
                        </a>
                        <a href="{{ url_for('admin.delete_user', name=user.username) }}">
                            <i title="Löschen" class="fa" style="font-size:24px;">&#xf00d;</i>
                        </a>
                    {% endif %}
                {% endif %}
            </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
    Keine Benutzer vorhanden
{% endif %}
<p></p>

{% if current_user.is_owner() %}
    <a role="button" class="btn btn-success" href="{{ url_for('admin.add_user') }}">Hinzufügen</a>
{% endif %}


{% endblock page_content %}