{% extends "base.html" %}
{% block page_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='flaskpos/css/admin/user/user-index.css') }}">

<p id="title"> <b> Verwaltung der Benutzer </b></p>
<hr>
{% if users %}
<table class="global">
    <caption> Benutzertabelle </caption>
    <thead>
        <th> Benutzername </th>
        <th> Vorname </th>
        <th> Nachname </th>
        <th> Aktionen </th>
    </thead>
    {% for user in users %}
    <tr>
        {% if current_user.role.permissions >= user.role.permissions %}
            <td class="col-xs-3"><p> {{ user.username }} </p></td>
            <td class="col-xs-3"><p> {{ user.firstname }} </p></td>
            <td class="col-xs-3"><p> {{ user.lastname }} </p></td>
            <td class="col-xs-3">
               <div class="col-md-4">
                    <form action="{{ url_for('admin.get_user', id=user.user_id) }}" method="get">
                        <button title="Ansehen" type="submit" id="view" class="bts">
                            <i class="fa">&#xf06e;</i>
                        </button>
                    </form>
                </div>
                {% if current_user.is_owner() %}
                    {% if current_user.role.permissions >= user.role.permissions %}
                    <div class="col-md-4">
                        <form action="{{ url_for('admin.edit_user', id=user.user_id) }}" method="get">
                            <button  title="Editieren" type="submit" id="edit" class="bts">
                                <i class="fa">&#xf044;</i>
                            </button>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <form action="{{ url_for('admin.delete_user', id=user.user_id) }}" method="post"
                            onSubmit="return confirm('Benutzer {{ user.username }} löschen?');">
                            <button title="Löschen" type="submit" id="delete" class="bts">
                                <i class="fa">&#xf00d;</i>
                            </button>
                        </form>
                    </div>
                    {% endif %}
                {% endif %}
            </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
    Keine Benutzer vorhanden
{% endif %}

{% if current_user.is_owner() %}
    <hr>
   <form action="{{ url_for('admin.add_user') }}" method="get">
        <button title="Benutzer hinzufügen" type="submit" class="btn btn-primary btn-lg">Benutzer hinzufügen
        </button>
    </form>
{% endif %}
{% endblock page_content %}