{% extends "bootstrap/base.html" %}

{% block title %}
 {% if title %}
        Flask Pos - {{ title }}
    {% else %}
       Flask Pos
    {% endif %}
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Flask-Pos</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="nav-item nav-link" href="{{ url_for('main.contact') }}">Kontakt</a></li>
                <li><a class="nav-item nav-link" href="{{ url_for('user.users') }}">Benutzer</a></li>
                <li><a class="nav-item nav-link" href="{{ url_for('control.main') }}">Zeiterfassung</a></li>
                <li><a class="nav-item nav-link" href="{{ url_for('device.devices') }}">Geräte</a></li>
                <li><a class="nav-item nav-link" href="{{ url_for('pos.cash') }}">Abrechnung</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">Benutzer <b>{{ current_user.name }}</b> ausloggen </a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Einloggen</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% block page_content %}{% endblock %}

</div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}