{% extends "bootstrap/base.html" %}

{% block title %}
 {% if title %}
        Flask Pos - {{ title }}
    {% else %}
       Flask Pos
    {% endif %}
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Flask-Pos</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="nav-item nav-link" href="{{ url_for('main.contact') }}">Kontakt</a></li>
                {% if current_user.is_authenticated %}
                    <li><a class="nav-item nav-link" href="{{ url_for('pos.cash') }}">Abrechnung</a></li>
                    <li><a class="nav-item nav-link" href="{{ url_for('clock_in.time') }}">Arbeitszeiten</a></li>
                    {% if current_user.is_manager() %}
                        <li><a class="nav-item nav-link" href="{{ url_for('admin.dashboard') }}">Verwaltung</a></li>
                    {% endif %}
                {% endif %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}"><b>{{ current_user.firstname }}</b> ausloggen </a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Einloggen</a></li>
                {% endif %}
            </ul>
        </div>

            <p style="background-color: #9999CC; color: #FFFFFF;font-size: medium; padding: 2px; padding-top: 3px;"> {{ route }} </p>

    </div>

</div>
{% endblock %}

{% block content %}

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-{{ category }}">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            </div>
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.locale("de") }}
{% endblock %}