{% extends "bootstrap/base.html" %}

{% block title %}
 {% if title %}
        Flask Pos - {{ title }}
    {% else %}
       Flask Pos
    {% endif %}
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='flaskpos/css/all.css') }}">
{% endblock %}

{% block navbar %}
<style>
    .navbar-brand {
        font-size: 32px;
    }
    .nav-item {
        font-size: 24px;
    }
    .navbar-brand, .nav-item {
        color: white !important;
    }
    .navbar-inverse {
        background-color: #004444;
        border-color: #004444;
    }
    #sysdiv {
        visibility: hidden;
        display: none;
        animation: fadeIn ease 3s infinite;
        margin: left right;
        position:relative;
    }
    #sysmessage {
        width: 100%;
        font-size: 48px;
        background-color: #FE2E2E;
        color: white;
        text-align: center;
        display: block;
    }
     @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    .close {
        color: white;
        opacity: 1;

        font-size: 40px;

    }
    #time-element {
        display: block;
        margin-right: 10px;
        font-size: 30px;
        color: #FFFFFF;
        text-align: right;
    }
    caption {
        font-size: 24px;
    }
</style>
<div class="navbar navbar-inverse" role="navigation">
    <div id="time-element"> xx.xx.xxxx, xx:xx:xx </div>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Flask-Pos</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="nav-item nav-link" href="{{ url_for('main.contact') }}">Kontakt</a></li>
                {% if current_user.is_authenticated %}
                    <li><a class="nav-item nav-link" href="{{ url_for('pos.cash') }}">Kasse</a></li>
                    <li><a class="nav-item nav-link" href="{{ url_for('clock_in.time') }}">Arbeitszeiten</a></li>
                    {% if current_user.is_manager() %}
                        <li><a class="nav-item nav-link" href="{{ url_for('admin.dashboard') }}">Verwaltung</a></li>
                    {% endif %}
                {% endif %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a class="nav-item nav-link" href="{{ url_for('auth.logout') }}"><b>{{ current_user.firstname }}</b> ausloggen </a></li>
                {% else %}
                <li><a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Einloggen</a></li>
                {% endif %}
            </ul>
        </div>
        <p style="background-color: #009999; color: #FFFFFF;font-size: medium; padding: 2px; padding-top: 3px;"> {{ route }} </p>


        <div id="sysdiv" class="col-sm-12 alert alert">
            <button type="button" class="close" aria-label="Close" data-dismiss="alert">
                &times
            </button>
            <span id="sysmessage"></span>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-{{ category }}">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            </div>
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    {% block page_content %}{% endblock %}

</div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.locale("de") }}
    <script>
        // display messages
        function display_sysmessage(n) {
            $('#sysmessage').text(n);
            $('#sysdiv').css('visibility', n ? 'visible' : 'hidden');
            $('#sysdiv').css('display', 'block');
        }

        // get notifications
        {% if current_user.is_authenticated %}
        $(function() {
            setInterval(function() {
                $.ajax('{{ url_for('main.notifications') }}').done(
                    function(notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                            var message = notifications[i].data;
                            display_sysmessage(message)
                        }
                    }
                );
            }, 10000);
        });
        $(function() {
            setInterval(function() {
                $.ajax('{{ url_for('main.get_time') }}').done(
                    function(time) {
                        $('#time-element').text(time.data);
                    }
                );
            }, 1000);
        });
        {% endif %}
    </script>
{% endblock %}